# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Owns

tests/
addNumbersTest.sh
test-add-numbers.sh
test-add-numbers.bats
#./templates/test-add-numbers.sh